# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec.bak

# Installer outputs
Output/
output/
*.msi
*.exe.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytest_tmp/
.test_runtime_tmp/

# Logs and databases
*.log
logs/
crash.log

# Local and temporary files
.mimosa/
scratch/
tmp/
temp/

# Environments & secrets
.env
.env.*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
99_SECRETS/
99_SECRETS_ENCRYPTED.7z
*.pem
*.key
*.pfx

# IDE / Editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

# Media raw sources
video_sources/
*.mov
*.mp4
